.menu-craft {
	top: 50%;
	left: 50%;
    width: 80%;
    height: fit-content;
    max-height: 800px;
    max-width: 800px;
	display: none;
	position: fixed;
	transform: translate(-50%,-50%);
}

.items-craft {
    border-radius: 5px;
    margin-top: 10px;
    height: calc(100% - 40px);
    max-height: 800px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.craft-item-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    height: 140px;
    border-radius: 5px;
    margin-bottom:10px
}

.craft-item-foto {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.craft-item-foto img {
    width: 120px;
    padding: 0 10px;
    margin: auto;
}

.craft-item-dados {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.craft-item-title {
    color: #fff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-weight: bold;
}

.craft-btn {
    background-color: #ecc000;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-weight: bold;
}

.craft-btn:disabled {
    color: #eee!important;
    background-color: #777!important;
    opacity: 0.5 !important;
}

.craft-btn:hover {
    background-color: #fdd111;
    cursor: pointer;
}

.craft-items-data {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    column-gap: 10px;
}

.craft-item-item {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.craft-item-qtd {
    background-color: #000;
    height: 20px;
    line-height: 21px;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    position: relative;
}

.craft-item-qtd span {
    position: absolute;
    right: 4px;
    color: white;
}

.craft-item-item img {
    width: 60px;
    margin: auto;
}
