.menu-farm {
	top: 50%;
	left: 50%;
    width: 80%;
    height: 80%;
    max-height: 200px;
    max-width: 610px;
	display: none;
	position: fixed;
	transform: translate(-50%,-50%);
}

.items-farm {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    /* width: fit-content; */
    column-gap: 10px;
    padding: 0px 10px!important;
}

.btn-farm {
	background: rgba(0, 0, 0, 0.6);
	width: 140px;
    height: 140px;
	border: 0;
	color: #fff;
	display: grid;
    font-weight: 700;
	text-align: center;
	border-radius: 3px;
	letter-spacing: 0.5px;
	padding: 0 20px;
	border-bottom: 1px solid rgb(5, 5, 5);
    margin: 10px 0px;
}

.btn-farm:hover {
	background: rgba(70, 70, 70, 0.6);
	color: #fff;
	border-bottom: 1px solid rgb(5, 5, 5);
}

.farm-item-foto img {
    width: 100px;
}
